
body::after {
    content: "";
    position: fixed;
    z-index: -1;   
    width: 100%;
    background-image: url('https://i.pinimg.com/originals/c1/ff/f2/c1fff28a143cc9192e8d5d0f646f5126.jpg');
    background-size: cover;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

header{
    padding: 30px 30px 10px 30px ;
}

.hide{
    visibility: hidden;
    transition: all 0.5s;
}

.show{
    visibility: visible;
}

/*-------------Staging--------------*/
#staging{
    padding: 20px 0px 20px 0px;
}

#staging .col-3{
    padding-right: 1px;
    padding-left: 1px;
}


img{
    width: 90%;
    height: auto;
    transition: all 0.8s
}

img:hover{
    width: 100%;
    height: auto;
    transition: all 0.8s;
}

/*-------------Battle--------------*/

#staging h4{
    border-bottom: 1px black solid;
}

#battle{
    padding: 20px 0px 20px 0px;
    height: 400px
}

#battle h4{
    border-bottom: 1px black solid;
}

#battle .row{
    height: 100%;
}

#attacker{
    border-right: 1px white solid;
}

#defender{
    border-left: 1px white solid;
}

#defender figure{
    width: 90%;
}